@import 'framework' ;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  margin: 20px 0;
}

.description-section {
  background-color: whitesmoke;
}

h3 {
  margin: 0 0 15px 0;
}